<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="header">
            <a href="/FoodTruck"><h1 style="text-align:center">Welcome to project 4</h1></a>
        </div>
    </header>

    <div class="container">
        <form action="/" style="display:inline-block;">
            <input type="submit" value="record answer" class="BaseNav"/>
        </form>

        <form action="/results" style="display:inline-block;">
            <input type="submit" value="results page" class="BaseNav"/>
        </form>

    </div>

    <main>{% block Base %} {% endblock %}</main>
    
</body>
</html>
