<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graded Report</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% extends 'base.html' %} 
    {% block Base %}
    <h2>Your Graded Report</h2>
    {%for grade in grade_report%}
        <p><strong>Filler Words:</strong> {{ grade.filler_words }}</p>
        <p><strong>Buzz Words:</strong> {{ grade.buzz_words }}</p>
        <p><strong>Final Grade:</strong> {{ grade.grade_analysis }}</p>
    {% endfor %}
        <h3>Key</h3>
            <p><strong>Filler Words:</strong> Any pauses or sounds that break sentences apart. Saying things like "um", "like", or "er" count as filler words.</p>
            <p><strong>Buzz Words:</strong> Any particular words that are important, relevant, or something the interviewer wants to hear. Saying things like "education", "experience", or "intern" count as buzz words.</p>
    {% endblock %}
</body>
</html>
